<%= image_tag "bghome.jpg", class: 'img' %>
<h1 class="orange_lnk">Welcome to the Generic Intranet Portal!</h1>
<hr/>
<p>
This is an example for what can be built using Ruby on Rails, you can Register to test the webpage at the nav-bar option Register, or Log in if you have already created an account.
<br/><br/>
Being registered gives you access to more features as you could be able to add Phone Extensions or update the newsfeed.
<br/><br/>
Please be sure to visit the about page to learn more from the creator and how to get in touch.
</p>